<div id='comments-hbs'>


		<div class="hamburger" title="Open Navigation"></div>

			<div class="title">
			<h1 id='puppy-gram-title'>Wanderlyst</h1>
		</div>
		<nav class='nav-dropdown'>

			<li><a href="http://localhost:3000/feed">Feed</a></li>{{!-- //need to update to send to user profile --}}
			<li><a href="http://localhost:3000/{{userid}}">Profile</a></li> {{!-- //need to update to send to user profile --}}
			<li><a href='http://localhost:3000/logout'>Logout</a></li> 

		</nav>

<input id="postId_comment" value="{{post._id}}" type="hidden">
<ul>
	{{#each post.comments}}
		
		<li>{{text}}</li>

	{{/each}}

	<form action="/comment/{{post._id}}" method="POST">
			<input name="text" placeholder="Type your comment here"style="width: 300px;"/>
			<button>Submit</button>
	</form>

</ul>
</div>