<body id='feed-hbs'>
	
	
				<div class="hamburger" title="Open Navigation"></div>
				<div class="title">
				<h1 id='puppy-gram-title'>Wanderlyst</h1>
			</div>
			
			<nav class='nav-dropdown'>

				<li><a href="http://localhost:3000/{{userid}}">Profile</a></li> {{!-- //need to update to send to user profile --}}
				<li><a href='http://localhost:3000/logout'>Logout</a></li> 
				
			</nav>

			
	
		
		
		




<ul id='feed-container'>
	{{#each users}}
		<li><a href="http://localhost:3000/{{this._id}}">
	{{!-- 	<img src='{{posts.link}}'></a></li> --}}
		<div id='feed-images'>
		{{#each this.posts}}
			<img src='{{this.link}}' width="200" height="200"/>
			
		{{/each}}
		</div>


	{{/each}}

</ul>
</body>


	
