<div id='friends-hbs'>


		<div class="hamburger" title="Open Navigation"></div>

		<div class="title">
			<h1 id='puppy-gram-title'>Wanderlyst</h1>
		</div>
		<nav class='nav-dropdown'>

			<li><a href="/feed">Feed</a></li>{{!-- //need to update to send to user profile --}}
			<li><a href="/{{userid}}">Profile</a></li> {{!-- //need to update to send to user profile --}}
			<li><a href='/logout'>Logout</a></li> 

		</nav>

		<hr>
		<div class="friends_list">
		{{#each user.friends}}
				<ul>

					<li>
					<img id="friends_pic" src="{{this.image}}">
					<a href="/{{this._id}}">{{this.name}}

					</li>	
				</ul>
		{{/each}}
		</div>
</div>