<div class="layout-hbs">
<h1 style='color: #30343F'>Welcome to Wanderlyst</h1>

	{{!-- static form submission --}}
	<form id="login_form" action="./" method="POST">

		<h4>{{error}}</h4>
		<br>
		<div id='login-form'>
		<input name="email"placeholder="Email"/>
		<input name="password" placeholder="Password"/>
		<button class='login-button'>Login</button>
		<a href="./join">Join</a>
		</div>

	</form>
</div>