<div class="home-hbs">
	<div class="header_wrapper">
		<h1>Wanderlyst</h1>
	</div>
	<form action="/" method="POST">
		<div id='login-form'>
		<input class="form-field"  name="email" placeholder="   Email"/><br/>
		<input class="form-field"  name="password" placeholder="   Password"/><br/>
		<button class='login-button'>Login</button>
		<br>
		<h4>{{error}}</h4>
		</div>	
	</form>
	<div class="login_footer">
		<a href="/join">Sign up!</a>
	</div>
</div>
