<div class="join-hbs">

	<div class="feed_header">	
		<h2>Join Wanderlyst</h2>
	</div>	
	<div class='join-form-container'>
		<form id="join_form" action="/join" method="POST" >
			<input class='join_field' name="email"placeholder="Email" />
			<br>
			<input class='join_field' name="password" placeholder="Password"/>
			<br>
			<input class='join_field' name="name" placeholder="Full Name"/>
			<br>
			<input class='join_field' name="title" placeholder="Title"/>
			<br>
			<input class='join_field' name="location" placeholder="Location"/>
			<br>
			<input class='join_field' name="bio" placeholder="Bio"/>
			<input type="hidden" name="image" value="/images/placeholder-bio.jpg">
			<br>
			<button class='join-button'>Join</button>
		</form>
	</div>

</div>
