<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/styles/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>	
	<link href="https://fonts.googleapis.com/css?family=Cormorant+Unicase|Droid+Sans+Mono|Julius+Sans+One|Jura|Playfair+Display+SC|Poiret+One|Pontano+Sans|Quattrocento+Sans|Quicksand|Roboto" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	{{{body}}}
<script src="/js/main.js"></script>
</body>
</html>