<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Cormorant+Unicase|Droid+Sans+Mono|Julius+Sans+One|Jura|Playfair+Display+SC|Poiret+One|Pontano+Sans|Quattrocento+Sans|Quicksand|Roboto" rel="stylesheet">

</head>
<body>
{{!-- 	<header class='clearfix'>
	<a href='#' class='hamburger js-hamburger' title='Open Navigation'>Open Navigation</a>
		<nav class='js-navigation'>
			<li><a href='/join' name='join'>Join</a></li>
			<li><a href='/' name='home'>Join</a></li>
		</nav>
	</header> --}}










	{{{body}}}
<script src="/js/main.js"></script>
</body>
</html>