<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/styles/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Cormorant+Unicase|Droid+Sans+Mono|Julius+Sans+One|Jura|Playfair+Display+SC|Poiret+One|Pontano+Sans|Quattrocento+Sans|Quicksand|Roboto" rel="stylesheet">

</head>
<body>
	{{#if loggedIn}}
		<div style='width: 100%; text-align: right'>
			<a href='/logout'>Logout</a>
		</div>
	{{/if}}
	{{{body}}}
<script src="/js/main.js"></script>
</body>
</html>