
<h1>[Name]{{user.name}}</h1>


<div id='user-info'>

		<p>[Image]{{user.image}}</p>
		<p>[Location]{{user.location}}</p>
		<p>[Bio]{{user.bio}}</p>
		<br>
		{{!-- //add 2 buttons for 'adding' or 'removing' friends --}}
	
</div>

<div id='button-container'>
<button class='profile-button'>Add</button>
<button class='profile-button'>Unfriend</button>
</div>

<div id='image-container'>
	<div class='image'>
	1
	</div>
	<div class='image'>
	2
	</div>
	<div class='image'>
	3
	</div>
	<div class='image'>
	4
	</div>
	<div class='image'>
	5
	</div>
	<div class='image'>
	6
	</div>
	<div class='image'>
	7
	</div>
	<div class='image'>
	8
	</div>
	<div class='image'>
	9
	</div>

</div>

