@nice-green: #161B43;
@button-color: #F3A482;

body, html{
	
	height: 100%;
	width:  100%;
	margin: 0px;
	padding: 0px;
	
	overflow-x: hidden; 

}

*{
	
	 // border: 1px solid red;
}
// nav {
//   text-align: right;
// }


// .hamburger {
//  // display: none;
//   width: 35px;
//   height: 35px;
//    background-image: url(../images/hamburger.png);
//   background-size: 35px 35px;
//   background-repeat: no-repeat;
//   text-indent: -9999px;
//   overflow: hidden;
//   position: absolute;
//   top: 20px;
//   right: 20px;
  
   
// }

// nav {
//   text-align: right;
// }

// .nav-dropdown {
//   float: right;
//   display: inline;


// }

// nav li {
//   float: left;
//   padding: 20px;
//   text-align: center;
//   list-style: none;
// }

// nav a {
//   display: block;
//   padding: 20px 15px;
//   padding: 10px;

// }

// nav a:hover {
//   color: #F98E81;
// }

// .js-navigation {
//   float: right;
//   display: inline;
// }





// #friends-hbs {
// 	background-color: @nice-green;
// 	width: 100%;
	
	
	
  
// }





// h1 {
//   padding-top: 40px;
// 	font-family: 'Pontano Sans', sans-serif;
// 	color: white;
// 	padding-bottom: 20px;
// }
// h2{
// 	padding-top: 20px;
// 	padding-bottom: 50px;
// 	font-family: 'Pontano Sans', sans-serif;
// 	margin: 0 auto;
// 	text-align: center;
// }
// h3 {
// 	color: white;
// }
// h4{
// 	margin: 0 auto;
// 	text-align: center;
// 	padding-top: 30px;
// }



// #user-info{ //on profile page
// 	margin: 0 auto;
// 	text-align: center;
// 	font-family: 'Roboto', sans-serif;
// }
// #button-container{
// 	margin: 0 auto;
// 	text-align: center;
// 	padding-bottom: 50px;
// }
// .profile-button{
// 	border-radius: 11px;
//   	font-family: 'Roboto', sans-serif;
// 	color: #ffffff;
//   	font-size: 15px;
// 	background: @button-color;
// 	padding: 5px 10px 5px 10px;
// 	text-decoration: none;
// }
// #join-form {
// 	margin: 0 auto;
// 	text-align: center;


// }


// #image-container {
// 	display: flex;
// 	flex-direction: row;
// 	flex-wrap: wrap;

// }
// // .image {
// 	width: 250px;
// 	padding: 20px;
// }
// ul {
// 	display: flex;
// 	flex-direction: row;
// }
// #user-images {
// 	display: flex;
// 	flex-direction: row;
// 	flex-wrap: wrap;
// 	list-style: none;
// }
// li{
// 	padding-right: 2px;
// 	padding-bottom: 2px;
// }
// a {
// 	color: white;
// 	margin-bottom: 0px;

// }

// .join-button {
// 	border-radius: 11px;
//   	font-family: 'Roboto', sans-serif;
// 	color: #ffffff;
//   	font-size: 15px;
// 	background: @button-color;
// 	padding: 5px 10px 5px 10px;
// 	margin-top: 10px;
// }
// #join-form-container{
// 	width: 50%;
//     margin: 0 auto;
//     padding: 20px;
//     background-color: rgba(255, 255, 255, .7);
//     box-shadow: 0 0 5px rgba(0,0,0,.75);
//     color: #3b3a3a;
//     text-align: center;
// }
// li a {
// 	padding: 1%;
// 	margin: 5px 5px 0px 0px;
// }
// #profile-image{ 
// 	margin: 0 auto;
// 	text-align: center;
// 	font-family: 'Roboto', sans-serif;
// }
// #imgur {
// 	margin: 0 auto;
// 	text-align: center;
// }
// #ul-feed {
// 	display: block;
// }
// #feed-container {
// 	display: flex;
// 	flex-direction: row;
// 	flex-wrap: wrap;
// 	list-style: none;
// 	width: 100%;
// }

// .nav-dropdown {
// 	width: 100%;
// 	text-align: right;
// 	font-family: 'Pontano Sans', sans-serif;
// 	padding: 20px;
// }
// // css example
// span {
//   content: "\2699";
//   font-size: 24px;
 
// }
// .profile_wrapper{

// 	display: flex;
// 	flex-direction: row;
// 	margin-left: 30%;
// 	color: white;


// }
// .profile_image{

// 	 position: relative;

// }
// .gear_background{


// 	position: absolute;
// 	 margin-left: 100px;
// 	 background-image: url('../images/corner.png');
// 	   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// 	 width: 100px;
// 	 height: 100px;
// 	 opacity: .8;
// 	 //display: none;
// }
// .profile_gear{


// 	 position: absolute;
// 	 margin-top: -5px;
// 	 margin-left: 60px;
	
	
// }
// .profile_image:hover +.gear_background{

// 	display: block;
// }
// .gear_background:hover{

// 	display: block;
// }

// #puppy-gram-title{
// 	padding-bottom: 0px;
// 	text-align: center;

// }
// .title{


// }

// #my-profile {
// 	width: 100%;
// 	text-align: right;
// 	font-family: 'Pontano Sans', sans-serif;
// 	padding: 20px;
// }





// .like{

// 	display: none;

// }
// .image_post{

//  	position: relative;

// }

// .like_num{
// 	position: absolute;
// 	margin-top: -180px;
// 	margin-left: 170px;
// 	font-size: 24px;
	


// }
// .like_num2{
	
// 	font-size: 24px;
	
	


// }
// .descriptionBox{

// 	color: white;
// }


// .post_wrapper:hover +.like_num{

	
// }
// .nav_wrapper{


// 	position: fixed; /* Set the navbar to fixed position */
   
// }
// .feedPost_wrapper{

// 	height: 50px;
// 	background-color: white;
// 	color: black;
// 	vertical-align: center;
// 	line-height: 50px;
// 	width: 100%;
// 	display: flex;
// 	flex-direction: row;
// 	border-top: 1px solid black;
// 	border-bottom: 1px solid black;

// }
// .feedPost_img{

// 	margin-left: 20px;
// }
// .feedPost_name{

// 	margin-left: 10px;
// 	font-weight: 900;
// 	width: 100%;
// }
// .feed_post{

	
// }

// #feed-container {
//   /* Prevent vertical gaps */
//   line-height: 0;
   
//   -webkit-column-count: 5;
//   -webkit-column-gap:   0px;
//   -moz-column-count:    5;
//   -moz-column-gap:      0px;
//   column-count:         5;
//   column-gap:           0px;  
// }

// #feed-container img {
//   /* Just in case there are inline attributes */
//   width: 100% ;
//   height: auto ;
//   // margin-left: 10%;
// }
// @media (max-width: 1200px) {
//   #feed-container {
//   -moz-column-count:    4;
//   -webkit-column-count: 4;
//   column-count:         4;
//   }
// }
// @media (max-width: 1000px) {
//   #feed-container {
//   -moz-column-count:    3;
//   -webkit-column-count: 3;
//   column-count:         3;
//   }
// }
// @media (max-width: 800px) {
//   #feed-container {
//   -moz-column-count:    2;
//   -webkit-column-count: 2;
//   column-count:         2;
//   }
// }
// @media (max-width: 400px) {
//   #feed-container {
//   -moz-column-count:    1;
//   -webkit-column-count: 1;
//   column-count:         1;
//   }
// }

// .feedPost_wrapper img{

// 	 width: 30px !important;
//   	height: 30px !important;
  
//   	margin-right: 5px;
//   	margin-top: 10px;
//   		border-radius: 50%;
// }

// .feedPost_wrapper_description{

// 	height: 100px;
// 	background-color: white;
// 	color: black;
// 	vertical-align: center;
// 	line-height: 50px;
// 	width: 100%;
// 	display: flex;
// 	flex-direction: row;
// 	border-top: 1px solid black;
	
// }
// .edit_wrapper{

// 	position: absolute;
// 	margin-top: -190px;
// 	margin-left: 20px;
// }

// .user-images_wrapper{

// 	width: 100%;

// }
// #user-images{
//   /* Prevent vertical gaps */
//   line-height: 0;
   
//   -webkit-column-count: 5;
//   -webkit-column-gap:   0px;
//   -moz-column-count:    5;
//   -moz-column-gap:      0px;
//   column-count:         5;
//   column-gap:           0px;

 	
// 	margin: 0 auto;

// }


// #comment-container {
// 	margin: 0 auto;
// 	display: flex;
// 	flex-direction: column;
// 	color: white;
// 	width: 100%;
// 	text-align: center;
	
// }

// #comment-container ul li {
// 	list-style-type: none;
// }

// #post-me {
// 	margin: 0 auto;
// 	width: 100%;
// 	padding-left: 40%;
// 	padding-top: 10%;
// }
// #profilePic{

// 	border-radius: 50%;
// 	margin-right: 50px;
// }




//////////////////////////////////////////
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5){

  html,
  body{
    width:100%;
    padding: 0px;
    margin:0px;
    overflow-x:hidden;
  }

}
.home-hbs{

	display: flex;
	flex-direction: column;
}
.header_wrapper{
		height: 150px;
		line-height: 120px;
		vertical-align: center;
		background: url('../images/bgtile.jpg');
  		background-repeat: repeat-x;
  		color: white;
  		font-size: 20px;
  		text-align: center;

 
  

}

#login-form {
  margin: 0 auto;
  text-align: center;
  background-color: white;
  margin-top: 60px;

}

.login-button{

	width: 83%;
	margin-left: 3px;
	border-radius: 4px;
	border: 1px solid #4c87e0;
	margin-top: 10px;
	height: 40px;
	background-color: #4c87e0;
	color: white;


}


.form-field{

	width: 80%;
	height: 40px;
	margin-bottom: 30px;
	border-radius: 4px;
	border: 1px solid #d4d7db;
	padding-left: 10px;
}
.login_footer{
	color: #4c87e0;
	
	text-align: center;
	background-color: white;
	margin-bottom: 0px;
	vertical-align: center;
	line-height: 43px;
	position: fixed;
	bottom:0;
	left: 0;
	width: 100%;
	border-top:  1px solid #d4d7db;
}
.login_footer a:link { 
	color: #4c87e0;
	text-decoration: none; 
}
.login_footer a:visited { 
	color: #4c87e0;
	text-decoration: none; 
}
.login_footer a {

	text-decoration: none;
}
hr{

	border:0;border-top:.5px solid #d4d7db;margin:0;height:1px;
}

.feed-hbs {
	
	margin: 0;
	padding: 0;
}
.feed_header{

	text-align: center;
	border-bottom: 1px solid #d4d7db;
	height: 60px;
	width: 100%;
	background-color: white;
	position: fixed;
	top:0;
	left: 0;
}
.feed_header a:link{

	color: black;
	text-decoration: none; 
}
.feed_header a:visited{

	color: black;
	text-decoration: none; 
}
#feed-container ul{
	margin-top: 60px;
	padding: 0px;
	list-style: none;
}
#feed-container ul li{
	padding: 0px;
	list-style: none;
}
.feedPost_wrapper{

	display: flex;
	flex-direction: row;
	height: 50px;
	
}
.feedPost_img{

	margin-right: 5px;
	margin-top: 10px;
	margin-left: 10px;
}
.poster_pic{

	width: 30px;
	height: 30px;
	border-radius: 50%;
}
.feedPost_name{
	margin-top: 15px;
	margin-left: 5px;
}
.feedPost_name a:link{

	color: black;
	text-decoration: none; 
	font-weight: 900;

}
.feedPost_name a:visited{

	color: black;
	text-decoration: none; 
	font-weight: 900;

}
.feedPost_name p{
	margin: 0px;
	
}
.feed_post{

	 width: 100% ;
	height: auto ;
}
.feedPost_wrapper_description{

	height: 80px;
}
.feed_footer{

	border-top: 1px solid #d4d7db;
	height: 50px;
	width: 100%;
	background-color: white;
	position: fixed;
	bottom:0;
	left: 0;
	display: flex;
	flex-direction: row;
	

}

.footer_feed{
	margin-top: 5px;
	flex-grow: 1;
	text-align: center;
}
.footer_search{
		margin-top: 5px;
	flex-grow: 1;
	text-align: center;

}
.footer_profile a:visited{
	color: black;
	text-decoration: none; 
	
}
.footer_feed a:visited{
	color: black;
	text-decoration: none; 
}
.footer_search a:visited{
color: black;
	text-decoration: none; 

}
.footer_profile a:link{
	color: black;
	text-decoration: none; 
}
.footer_feed a:link{
color: black;
	text-decoration: none; 
}
.footer_search a:link{
	color: black;
	text-decoration: none; 

}
.footer_logout a:visited{
color: black;
	text-decoration: none; 

}
.footer_logout a:link{
	color: black;
	text-decoration: none; 
}
.footer_profile{
		margin-top: 5px;
	flex-grow: 1;
	text-align: center;
}
.footer_logout{
		margin-top: 5px;
	flex-grow: 1;
	text-align: center;
}

.material-icons{

	font-size: 35px;
}
.footer_upload{
		margin-top: -8px;
	flex-grow: 1;
	text-align: center;
	font-size: 10px;

}
.profile-hbs {
	margin: 0px;
	padding: 0px;
	 
  
}
.profile_header{

	text-align: center;
	border-bottom: 1px solid #d4d7db;
	height: 60px;
	width: 100%;
	background-color: white;
	position: fixed;
	top:0;
	left:0;
}
.profile_wrapper{

	margin-top: 65px;
	display: flex;
	flex-direction: row;

}
#upload{

	background-color: white;
	border: none;
	 outline: none; 

}
.gear_background{


	position: absolute;
	 margin-left: 100px;
	 background-image: url('../images/corner.png');
	   -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	 width: 100px;
	 height: 100px;
	 opacity: .8;
	 //display: none;
}

.profilePic{
	max-width:100%; 
  max-height:100%;

  margin-left: 12px;
 margin-top: 10px;
  margin-bottom: 5px;
  border-radius: 50%;
  padding: 2px;
  border: 4px solid @nice-green;

}	
.image_post{

 max-width:100%; 
  max-height:100%;
  height: 125px;
    width: 100%;
  margin:auto;
  display:block;
  margin-top: -19px;

	
}

#user-info{

	margin-top: 60px;
	display: flex;
	flex-direction: column;

}
.images_wrapper{

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-left: 3px;
	margin-bottom: 35px;
	margin-top: 17px;

}
.images_wrapper li{

	list-style: none;
	padding: 0px;
}
.image_pics{

	width: 122px;
	height: 122px;
	margin-right: 2px;
	margin-top: 2px;
}

.bio_main{

	display: flex;
	flex-direction: row;
	height: 100px;



}
.bio_picture{

	
	flex-grow:1;

}
.bio_right{

	flex-grow:1;
	display: flex;
	flex-direction: column;
}
.bio_friends{

	flex-grow:1;
	padding-top: 10px;
	margin-top: 5px;

}
.bio_friends a:visited{

	color: black;
	text-decoration: none; 
}	
.bio_friends a:link{

	color: black;
	text-decoration: none; 
}		
.bio_add_remove{

	flex-grow:1;
	width: 200px;

}
.bio_text{

	height: 100%;
	margin-top: 5px;
	padding-left: 15px;

}
.bio_border{

	height: 45px;
	border-top: 1px solid #d4d7db;
	
}
#add{

	width: 70px;

	border: 1px solid #d4d7db;
	background-color: white;
}
#remove{
	width: 70px;
	border: 1px solid #d4d7db;
	background-color: white;
}



.search_header{

	text-align: center;
	border-bottom: 1px solid #d4d7db;
	height: 100px;
	width: 100%;
	background-color: white;
	position: fixed;
	top:0;
	left: 0;

}
#search_form{

	margin-top: 10px;
	
}
.search_input{

	margin-bottom: 10px;
	width: 80%;
	height: 30px;
	border-radius: 4px;
	border: 1px solid #d4d7db;
}
.search-button{


	width: 80%;
	border-radius: 4px;
	border: 1px solid #4c87e0;
	height: 30px;
	background-color: #4c87e0;
	color: white;
	margin-right: 4px;


}
.search_results{

	margin-top: 100px;
		margin-bottom: 50px;

}
.search_results li{
	list-style: none;
	padding: 10px;


	
}

.search_results a:visited{

	color: black;
	text-decoration: none; 
}
.search_results a:link{

	color: black;
	text-decoration: none; 
}
.search_pic{

	border-radius: 50%
}

.friends-hbs{



}
#friends_pic{

	border-radius: 50%;
}

.friends_list{

margin-top: 60px;
margin-left: 10px;

}
.friends_list li{


	
	text-decoration: none;
	margin-bottom: 0px;


		

}
.friends_list ul{

	
	list-style-type: none;
	padding: 10px;
	margin: 0px;

}

.friends_list ul li a {
	list-style-type: none;
	text-decoration: none;
}
.join-hbs{

	margin: 0;
	padding: 0;
}
.join_field{

	width: 90%;
	height: 30px;
	margin-bottom: 30px;
	border-radius: 4px;
	border: 1px solid #d4d7db;
	padding-left: 10px;
	
}
#join_form{
	margin-left:25px;
	margin-top: 80px;
	


}
.join-button{


	width: 93%;
	margin-left: 2px;
	border-radius: 4px;
	border: 1px solid #4c87e0;
	margin-top: 10px;
	height: 30px;
	background-color: #4c87e0;
	color: white;

}

@media screen and (max-width: 320px) {

	.image_pics{

	width: 103px;
	height: 103px;
	margin-right: 2px;
	margin-top: 2px;
	}

	.bio_right{
		margin-left: 10px;
	}
	#add{

	width: 60px;

	
	}
	#remove{
	width: 60px;
	
	}
	#join_form{
	margin-left:15px;
	margin-top: 80px;
	


	}


 
}

@media screen and (min-width: 414px) {

	.image_pics{

	width: 135px;
	height: 135px;
	margin-right: 2px;
	margin-top: -8px;
	}
	#add{
	margin-left: 5px;
	width: 80px;

	
	}
	#remove{
	width: 80px;
	
	}
	#join_form{
	margin-left:30px;
	margin-top: 80px;
	


	}
 
}
.comments-hbs {

	
	margin: 0;
	padding: 0;
}
.comment_input{


	
	height: 100px;
	width: 100%;
	background-color: white;
	margin-bottom: 15px;
	
	left: 0;
	text-align: center;
	outline: none; 
}
.comment_text{

	padding-left: 10px;
	width: 100%;
	
}
.comment_text_border{
	border-top: 1px solid #d4d7db;
	border-bottom: 1px solid #d4d7db;
}
textarea:focus, input:focus, button:focus{
    outline: none;
}
.comment_submit{


	width: 90%;
	margin-left: 2px;
	border-radius: 4px;
	border: 1px solid #4c87e0;
	margin-top: 10px;
	height: 30px;
	background-color: #4c87e0;
	color: white;

}
.comment-container{

	margin-top: 80px;
	margin-left: -10px;
	width: 90%;

}
.comment-container ul{

	list-style: none;
	padding-bottom: 10px;
}
.comment-container ul li{

	list-style: none;
	padding-bottom: 10px;
}
.comment_input{

	margin-bottom: 35px;
}
.post-hbs{

	margin: 0;
	padding:0;
}
.post_wrapper{

	margin-top: 60px;
	width: 100%;
}
.image_post2{

	width: 100%;
	height: 100%;
}
.post_details{

	padding-left: 20px;

	margin-top: 10px;
	margin-bottom: 60px;
}
.post_details a:link{

	color: black;
	text-decoration: none; 
}
.post_details a:visited{

	color: black;
	text-decoration: none; 
}
.edit_wrapper{

	// margin-bottom: 80px;
	float: right;
	margin-top: -23px;
	margin-right: 15px;
}
#comment{

	font-size: 20px;
	margin-left: 20px;

}



.modal.fade.in .lab-modal-body {
  bottom: 0;
  opacity: 1;
  
}

.lab-modal-body h1 {
  font-size: 4rem;
}

.lab-modal-body p {
  margin: 0 0 1.62rem 0;
  line-height: 1.62;
  font-weight: 300;
  font-size: 1.62rem;
  color: #666;
}

.lab-modal-body {
  position: relative;
  bottom: -550px;
  margin: 0px auto 0;
  padding: 40px;
  max-width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid #BEBEBE;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
  transition: opacity 0.3s ease-out, bottom 0.3s ease-out;
}

.close {
  margin-top: -20px;
  margin-right: -20px;
  text-shadow: 0 1px 0 #ffffff;
}

.popup-button {
  margin-top: 70px;
}
.description{

	width: 90%;
	height: 50px;
	margin-bottom: 30px;
	border-radius: 4px;
	border: 1px solid #d4d7db;
	padding-left: 10px;


}
.descriptionAdd_toggle{


	width: 90%;
	margin-left: 2px;
	border-radius: 4px;
	border: 1px solid #4c87e0;
	margin-top: 10px;
	height: 30px;
	background-color: #4c87e0;
	color: white;

}
h4{
	margin: 0 auto;
	text-align: center;
	padding-top: 20px;
	margin-right: 45px;
}
h2{
	margin: 0 auto;
	text-align: center;
	padding-top: 15px;
}

.back_button{

	float: left;
	margin-top: 20px;
	margin-left: 0px;
	display: inline;

}